@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

p, span, div, th {
  color: var(--secondaryBlack);
}

@layer base {
  :root {
    --primaryBlack: #0A090D;
    --secondaryBlack: #262626;
    --primaryRed: #E52535;
    --primaryWhite: #F2F2F2;
    --primaryGray : #B4B4B4;
  }
}