.TabsTrigger {
  margin-right: 5px;
  margin-left: 5px;
  border-bottom: 1px solid var(--primaryWhite);
  border-radius: 0px;
  color: var(--secondaryBlack);
  font-size: 18px;
  font-weight: 700;
}

.TabsTrigger:hover {
  border-bottom: 4px solid var(--primaryGray);
}

.TabsTrigger[data-state='active'] {
  border-bottom: 4px solid var(--primaryRed);
  border-radius: 2px;
  box-shadow: none;
}